{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

		<!-- Content -->
		<div class="content js-scroll">
			<div class="section mt-0">
				<h1 class="title title--h1 title__separate">CV</h1>
			</div>

			<!-- Experience -->
			<div class="section">
				<h2 class="title title--h2"><img class="title-icon" src="{% static 'icons/icon-education.svg' %}" alt="">Education</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">Bachelor of Computer Application </h5>
						<p class="timeline__description">Software Orientation
						</p>
						<p class="timeline__description">Mahatma Gandhi University
						</p>
						<span class="timeline__period">2017 - 2019</span>
					</article>
				</div>
			</div>

			<div class="section">
				<h2 class="title title--h2"><img class="title-icon" src="{% static 'icons/icon-experience.svg' %}" alt=""> Experience</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">Python Programming</h5>
						<p class="timeline__description">Avodha
						</p>
						<span class="timeline__period">June 2021 - September 2021</span>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">Java Programming</h5>
						<p class="timeline__description">Soften Technologies
						</p>
						<span class="timeline__period">May 2019 - August 2019</span>
					</article>
				</div>
			</div>

			<!-- Skills -->
			<div class="section">
				<h2 class="title title--h2">My skills</h2>
				<div class="box-gray" dir="ltr">
					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Python</span><span>90٪</span></div>
						</div>
						<div class="progress-text"><span>Python</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Java</span><span>75٪</span></div>
						</div>
						<div class="progress-text"><span>Java</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Django Framework</span><span>80٪</span></div>
						</div>
						<div class="progress-text"><span>Django Framework</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Git </span><span>60٪</span></div>
						</div>
						<div class="progress-text"><span>Git</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>OOP Programming </span><span>85٪</span></div>
						</div>
						<div class="progress-text"><span>OOP Programming</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Data Structures </span><span>70٪</span></div>
						</div>
						<div class="progress-text"><span>Data Structures</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>HTML5 </span><span>65٪</span></div>
						</div>
						<div class="progress-text"><span>HTML5</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>CSS3 </span><span>60٪</span></div>
						</div>
						<div class="progress-text"><span>CSS3</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>JavaScripts</span><span>68٪</span></div>
						</div>
						<div class="progress-text"><span>JavaScripts</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>MYSQL</span><span>72٪</span></div>
						</div>
						<div class="progress-text"><span>MYSQL</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Oracle Database</span><span>83٪</span></div>
						</div>
						<div class="progress-text"><span>Oracle Database</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>PostgreSQL</span><span>70٪</span></div>
						</div>
						<div class="progress-text"><span>PostgreSQL</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>React.js</span><span>65٪</span></div>
						</div>
						<div class="progress-text"><span>React.js</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>jQuery</span><span>55٪</span></div>
						</div>
						<div class="progress-text"><span>jQuery</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Git</span><span>50٪</span></div>
						</div>
						<div class="progress-text"><span>Git</span></div>
					</div>
				</div>
			</div>
		</div><!-- Content End -->

{% endblock content %}